[package]
name = "node-bindgen"
version = "1.2.0"
authors = ["Fluvio Contributors <team@fluvio.io>"]
edition = "2018"
description = "easy way to write nodejs module using rust"
repository = "https://github.com/infinyon/node-bindgen"
readme = "README.md"
license = "Apache-2.0"

[lib]
test = false

[features]
default = ["node"]
node = ["nj-sys","nj-core","nj-derive"]
build = ["nj-build"]

[dependencies]
nj-sys = { path = "nj-sys", version = "1.0.0", optional = true }
nj-core = { path = "nj-core", version = "1.1.0", optional = true  }
nj-build = { path = "nj-build", version = "0.1.0", optional = true }
nj-derive = { path = "nj-derive", version = "1.0.0", optional = true}